{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <h1>Recipes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ recipe.image }}</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <td>{{ recipe.ingredient }}</td>
            </tr>
            <tr>
                <th>Utensil</th>
                <td>{{ recipe.utensil }}</td>
            </tr>
            <tr>
                <th>Instruction</th>
                <td>{{ recipe.instruction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recipes_index') }}">back to list</a>

    <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipes/_delete_form.html.twig') }}
{% endblock %}
